<div class="wrap-actifity">
  <div class="wrap-title">
    <h2>Activity</h2>
    <p>View Timeline / Filter activities</p>
  </div>
  <hr class="first" />
  <div class="wrap-notif" *ngFor="let activity of activities">
    <div class="picture"></div>
    <div class="upload-desc">
      <p class="uploader">
        {{activity.name}} <span>{{activity.activity}}</span>
      </p>
      <p class="title">{{activity.title}}</p>
      <p class="timer-updated">{{activity.updated}}</p>
    </div>
  </div>
  <hr class="last" />
</div>
