.wrap-channels {
  color: #f3e4ce;
  font-family: 'Lato';
  padding-right: 10em;
  @media (max-width: 1115px) {
    padding: 3em 10em;
  }
  @media (max-width: 1030px) {
    padding: 1em 3em;
  }
  .first {
    border: 2px solid;
  }
  .last {
    border: 1px solid;
  }
  .wrap-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 5em;
    h2 {
      font-weight: 100;
      margin: 0 4em 10px 0;
      @media (max-width: 1436px) {
        margin: 0 3em 10px 0;
      }
      @media (max-width: 1412px) {
        margin: 0 2em 10px 0;
      }
      @media (max-width: 1375px) {
        margin: 0 1em 10px 0;
      }
      @media (max-width: 1115px) {
        margin: 0 4em 10px 0;
      }
      @media (max-width: 463px) {
        margin: 0 1em 10px 0;
      }
    }
    p {
      font-size: 12px;
      margin: 0 0 10px 0;
    }
  }
  .wrap-channel {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
    .picture {
      width: 42%;
      margin: 2%;
      float: left;
      padding: 2%;
      height: 100px;
      position: relative;
      background-color: #f3e4ce;
      &::after {
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: 0;
      }
      &:hover {
        cursor: pointer;
        &::after {
          position: absolute;
          border-top: 25px solid #963d45;
          border-left: 25px solid transparent;
        }
      }
      p {
        bottom: 0;
        color: #963d45;
        position: absolute;
      }
    }
  }
  .last {
    @media (max-width: 1115px) {
      display: none;
    }
  }
}
