footer {
  padding: 3em 10em;
  font-family: 'Lato';
  @media (max-width: 1030px) {
    padding: 1em 3em;
  }
  .social-media {
    display: flex;
    margin-top: 2em;
    .wrap-sosmed {
      width: 35px;
      height: 35px;
      display: flex;
      border-radius: 2px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      background-color: #f3e4ce;
      .img-sosmed {
        width: 15px;
        height: 15px;
      }
    }
  }

  .wrap-footer-menu {
    margin: 3em 0 0 0;
    .footer-menu {
      ul {
        padding: 0;
        margin-bottom: 3em;
        @media (max-width: 1030px) {
          text-align: center;
        }
        li {
          list-style: none;
          margin-right: 20px;
          display: inline-block;
          color: #f3e4ce;
          @media (max-width: 910px) {
            margin-top: 10px;
          }
          a {
            font-size: 14px;
            color: #f3e4ce;
            margin-right: 20px;
            text-decoration: none;
          }
        }
      }
      p {
        margin: 5px 0 0 0;
        font-size: 14px;
        color: #f3e4ce;
      }
    }
  }
}
