<footer>
  <hr>
  <div class="social-media">
    <div class="wrap-sosmed">
      <img class="img-sosmed" src="https://stackblitz.com/files/angular-ivy-um24md/github/FahrasNH/sosial-network/master/src/app/assets/images/twitter.svg" alt="twitter" />
    </div>
    <div class="wrap-sosmed">
      <img class="img-sosmed" src="https://stackblitz.com/files/angular-ivy-um24md/github/FahrasNH/sosial-network/master/src/app/assets/images/linkedin.svg" alt="linkedIn" />
    </div>
    <div class="wrap-sosmed">
      <img class="img-sosmed" src="https://stackblitz.com/files/angular-ivy-um24md/github/FahrasNH/sosial-network/master/src/app/assets/images/facebook.svg" alt="facebook" />
    </div>
  </div>
</footer>