header {
  font-family: 'Lato';
  padding: 3em 10em;
  .container-head {
    .header-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: #f3e4ce;
        margin: 0;
        font-family: 'Lato';
        span {
          font-weight: 100;
        }
      }
      .nav-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .upload-btn {
          height: 35px;
          border: none;
          color: #963d45;
          padding: 5px 10px;
          border-radius: 2px;
          margin: 0 8px;
          background-color: #f3e4ce;
        }
        input {
          width: 300px;
          height: 25px;
          border: none;
          color: #963d45;
          padding: 5px 10px;
          border-radius: 2px;
          margin: 0 8px;
          background-color: #f3e4ce;
          &::placeholder {
            color: #963d45;
          }
        }
        .profile {
          margin: 0 0 0 8px;
          display: flex;
          img {
            display: block;
            height: 33px;
            width: 33px;
            margin-right: 8px;
            border-radius: 2px;
            border: 2px solid #f3e4ce;
          }
          .username {
            color: #f3e4ce;
            .first-name {
              margin: 0;
            }
            .last-name {
              margin: 0;
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .wrap-navbar-menu {
    margin: 3em 0 0 0;
    .navbar-menu {
      margin: 0 10px;
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-left: 20px;
          display: inline-block;
          color: #f3e4ce;
          a {
            color: #f3e4ce;
            margin-right: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
