<header>
  <div class="container-head">
    <div class="header-menu">
      <div>
        <h2>Social<span>Network</span></h2>
      </div>
      <div class="nav-right">
        <input type="text" placeholder="Find..." />
        <button class="upload-btn">Upload</button>
        <div class="profile">
          <img alt="img-profile" class="" src="https://stackblitz.com/files/angular-ivy-um24md/github/FahrasNH/sosial-network/master/src/app/assets/Webp.net-compress-image.jpg
          "/>
          <div class="username">
            <p class="first-name">Fahras</p>
            <p class="last-name">Nur Hidayat</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>