.content-container {
  padding: 0 0 50px 10em;
  font-family: 'Lato';
  @media (max-width: 1030px) {
    padding: 1em 3em;
  }
  h2 {
    margin: 0;
    color: #f3e4ce;
    font-weight: 100;
  }
  table {
    border-spacing: 20px;
    @media (max-width: 580px) {
      border-spacing: 2px;
    }
    .banner {
      position: relative;
      padding: 10px;
      width: 450px;
      height: 300px;
      border-radius: 2px;
      background-color: #f3e4ce;
      p {
        bottom: 0;
        position: absolute;
        color: #963d45;
      }
    }
    .thumb {
      padding: 10px;
      width: 200px;
      height: 140px;
      border-radius: 2px;
      position: relative;
      background-color: #f3e4ce;
      p {
        bottom: 0;
        position: absolute;
        color: #963d45;
        @media (max-width: 580px) {
          position: relative;
        }
      }
    }
    .thumb-upload {
      padding: 10px;
      color: #f3e4ce;
      border: 2px solid #f3e4ce;
      background-color: transparent;
    }
  }
}
