<div *ngFor="let content of contents" class="content-container">
  <div>
    <h2>{{(content.name)}}</h2>
  </div>
  <table>
    <tr>
      <td colspan="2" rowspan="2" class="banner">
        <p>Banner</p>
      </td>
      <td colspan="1" rowspan="1" class="thumb">
        <p>Thumbnail</p>
      </td>
    </tr>
    <tr>
      <td colspan="1" rowspan="1" class="thumb">
        <p>Thumbnail</p>
      </td>
    </tr>
    <tr>
      <td colspan="1" rowspan="1" class="thumb">
        <p>Thumbnail</p>
      </td>
      <td colspan="1" rowspan="1" class="thumb">
        <p>Thumbnail</p>
      </td>
      <td colspan="1" rowspan="1" class="thumb-upload">
        <p>{{content.title}}</p>
      </td>
    </tr>
  </table>
</div>